body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
/*т.к. есть float:left/right - блоки лезут вверх*/
.clearfix:after{
    content: " ";
    display: table;
    clear: both;
}

.left {float:left;}
.right {float:right;}

.text-right {text-align: right;}
.text-center {text-align: center;}

a{
    color: #fff;
    text-decoration: none; /*подчёркивание*/
}
header{
    background: url("../img/bg-texture01.jpg") no-repeat center top / cover;
    padding-top: 0.97em;
    color: #fff;

}
.container{
    width: 1200px;
    margin: 0 auto;
}
.logo{
    display: inline-flex;
}
.btn-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.ico-logo {
    border-radius: 50px;
    background: #04c4d9;
    width: 72px;
    height: 72px;

    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center; /* и вертикали */
}
.name-logo{
    font-size: 50px;
    margin-left: 3px;
    line-height: 1;
}
.name-logo span{
    color: #04c4d9;
}
.slogan{
    font-size: 12px;
    text-transform: uppercase;
    color: #8c949f;
    margin-left:6px;
    line-height: 1;
}
.menu{
    margin: 12px 0;
}

.menu li{
    float: left;
    display: block;
    margin-left: 32px;
}
.menu li:first-child{
    color: #04c4d9;
}
.menu a{
    text-transform: uppercase;
    font-size: 16px;
}
.autor p{
    color: #9ba4b1;
}

.info-autor a{
    color: #04c4d9;

}